.login-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #ffffff; 
}
.input-group input {
  width: 100%; 
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #e5e7eb;
  color: #000;
  font-size: 14px;
  margin-top: 5px;
  box-sizing: border-box; 
}

.login-box {
  background: rgba(255, 255, 255, 0.1); 
  padding: 20px;
  border-radius: 10px;
  width: 320px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.login-box h2 {
  font-size: 24px;
  font-weight: bold;
  color: #1e40af; 
  margin-bottom: 15px;
}

.input-group {
  margin-bottom: 12px;
  text-align: left;
}

.input-group label {
  font-size: 14px;
  color: #e5e7eb; 
}

.input-group input {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  border: none;
  background: #e5e7eb; 
  color: #000;
  font-size: 14px;
  margin-top: 5px;
}

.error-message {
  color: #f87171; 
  font-size: 12px;
  margin-bottom: 10px;
}

.login-btn {
  width: 100%;
  padding: 10px;
  border-radius: 6px;
  background: #1e40af; 
  color: #fff; 
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.login-btn:hover {
  background: #3b82f6; 
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.input-size {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

.input-size:focus {
  outline: none;
  border-color: #1e40af; 
  box-shadow: 0 0 5px rgba(30, 64, 175, 0.5); 
}


select.input-size {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
